/Ai
/Ai.7z
/B1.txt
/B2.txt
/bildkomp.7z
/bildkomp.py
/bildkomp2.py
/cmountain.jpg
/compressed.jpg
/compressed_image.jpg
/coutput.jpg
/Flerdimm
/import numpy.py
/lab01
/lab02
/lab04
/lab06
/lab07
/lab08
/lab09
/mnist_test.csv
/mnist_train.csv
/num.py
/output.jpg
/redovisning.py
/trainingdata_images.txt
/trainingdata_labels.txt
/W1.txt
/W2.txt